.analysis-page {
    padding: 30px;
    text-align: center;
}

.result-box {
    margin-top: 40px;
    padding: 30px;
    background-color: #FBCB91;
    border-radius: 10px;
    display: inline-block;
}

.recommendation {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}